/* Import Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Include Tailwind CSS base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define light mode color variables */
:root {
  --background: #f3f5f7;
  --foreground: #171717;
}

/* Define dark mode color variables */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Apply base styles to the body */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

/* Custom utility class for text wrapping */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Define custom border radius variable */
@layer base {
  :root {
    --radius: 0.5rem;
  }
}